<template name="eor">
    <h3>EOR</h3>
    <form class="form-horizontal">

        <div class="form-group">
            <label class="col-sm-3 control-label" for="ip-type">Type d'IP (optionnel)</label>
            <div class="col-sm-9">
                <select id="ip-type" class="form-control" multiple="" name="ip-type" required="required">
                    <option value="ipv4">ipv4</option>
                    <option value="ipv6">ipv6</option>
                </select>
            </div>
        </div>
        <div class="text-right">
            <a id="submit-btn" class="btn btn-primary" href="#">Lancer</a>
            <div class="return-message col-md-offset-10">
                <div>
                <pre>
                  <code id="command-result"></code>
                </pre>
                </div>
            </div>

        </div>
    </form>
</template>
