<template name="showNeighbors">
    <h3>Show neighbors summary</h3>
    <form class="form-horizontal">

        <div class="form-group">
            <label class="col-sm-3 control-label" for="neighbor-ip">Optional neighbor IP address</label>
            <div class="col-sm-9">
                <input id="neighbor-ip" class="form-control" name="neighbor-ip" placeholder="neighbor-ip" type="text">
            </div>
        </div>
	
        <div class="text-right">
            <a id="submit-btn" class="btn btn-primary" href="#">Execute</a>
            <div class="return-message">
                <div>
                <pre>
                  <code id="command-result"></code>
                </pre>
                </div>
            </div>

        </div>
    </form>
</template>
