<template name="addRoute">
    <h3>Annoncer un réseau ou une adresse IP</h3>
    <form class="form-horizontal" name="addRoute">

        <div class="form-group">
            <label class="col-sm-3 control-label" for="ip">Adresse IP</label>
            <div class="col-sm-9">
                <input type="text"  class="form-control" id="ip" placeholder="Adresse IP"  required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" for="next-hop">Next hop</label>
            <div class="col-sm-9">
              <input id="next_hop" class="form-control" name="next_hop" placeholder="Adresse IP" type="text" required>
              <span class="result"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" for="add-local-pref">Préférence locale</label>
            <div class="col-sm-9">
                <input id="add-local-pref" class="form-control" name="local-pref" placeholder="Préférence locale" type="text">
                <span class="result"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" for="community">Communautés</label>
            <div class="col-sm-9">
                <input id="community" class="form-control" name="community" placeholder="Communautés" type="text" required  >
                <span class="result"></span>
            </div>
        </div>
        <div class="text-right">
            <a id="submit-btn" class="btn btn-primary" href="#">Lancer</a>
        </div>
    </form>
</template>
