<template name="flow">
    <h3>Flow</h3>
    <form class="form-horizontal">

        <div class="form-group">
            <label class="col-sm-3 control-label" for="source-ip">Adresse IP source</label>
            <div class="col-sm-9">
                <input id="source-ip" class="form-control" name="source-ip" placeholder="source-ip" required="required" type="text">
            </div>
	</div>
	<div class="form-group">
	    <label class="col-sm-3 control-label" for="destination-ip">Adresse IP destination</label>
            <div class="col-sm-9">
                <input id="destination-ip" class="form-control" name="destination-ip" placeholder="destination-ip" required="required" type="text">
            </div>
	</div>
	<div class="form-group">
	    <label class="col-sm-3 control-label" for="rate-limit">Rate-limit</label>
            <div class="col-sm-9">
                <input id="rate-limit" class="form-control" name="rate-limit" placeholder="rate-limit 1" required="required" type="text">
            </div>
        </div>
	
        <div class="text-right">
            <a id="submit-btn" class="btn btn-primary" href="#">Lancer</a>
            <div class="return-message col-md-offset-10">
                <div>
                <pre>
                  <code id="command-result"></code>
                </pre>
                </div>
            </div>

        </div>
    </form>
</template>
