<template name="delRoute">
    <h3>Withdraw and delete a route(withdraw route)</h3>
    <form class="form-horizontal" name="delRoute">

        <div class="form-group">
            <label class="col-sm-3 control-label" for="ip">Route IP address</label>
            <div class="col-sm-9">
                <input type="text"  class="form-control" id="ip" placeholder="Adresse IP"  required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" for="next-hop">Next hop</label>
            <div class="col-sm-9">
                <input id="next_hop" class="form-control" name="next_hop" placeholder="Adresse IP" type="text">
                <span class="result"></span>
            </div>
        </div>

        <div class="text-right">
            <a id="submit-btn" class="btn btn-primary" href="#">Execute</a>
        </div>
    </form>
</template>
